<!DOCTYPE html>
<html ng-app="artshare">

<head>
  <meta charset="utf-8">
  <title>artshare</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-moment/0.9.0/angular-moment.min.js"></script>
  <script src="angulargrid.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>
  <script src="app.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="./style.css">
</head>

<body ng-controller="posts">
  <a href="index.html" class="brand-logo">artshare</a>
  <nav class="row">
    <input ng-model="searchTxt" type="text" class="sort" placeholder="Search posts..."></input>
    <a class="right btn-floating btn-large waves-effect waves-light greener btn" ng-click="newPost=true" ng-hide="newPost==true"><i class="material-icons">add</i></a>
    <a class="right btn-floating btn-large waves-effect waves-light btn redder" ng-click="newPost=false" ng-show="newPost==true"><i class="material-icons">remove</i></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li>Sort by: &nbsp; &nbsp;</li>
      <li>
        <div ng-class="{'chip sort-select': sDate, 'chip sort-unselect': !sDate}">
          <a href="#!" ng-click="sDate=true; sVotes=false; sTitle=false; sortBy('date')">date</a>
        </div>
      </li>
      <li>
        <div ng-class="{'chip sort-select': sVotes, 'chip sort-unselect': !sVotes}">
          <a href="#!" ng-click="sVotes=true; sDate=false; sTitle = false; sortBy('votes')">votes</a>
        </div>
      </li>
      <li>
        <div ng-class="{'chip sort-select': sTitle, 'chip sort-unselect': !sTitle}">
          <a href="#!" ng-click="sTitle=true; sDate=false; sVotes=false; sortBy('title')">title</a>
        </div>
      </li>
    </ul>
  </nav>
  <div class="new row" ng-show="newPost==true">
    <div class="col s12">
      <h3>Create a New Post!</h3>
      <div class="col s5">
        <input type="text" placeholder="Title" ng-model="title" ng-class="{invalid: noTitle == true}"></input>
        <input type="text" placeholder="Author" ng-model="author" ng-class="{invalid: noAuthor == true}"></input>
        <input type="text" placeholder="Image URL" ng-model="img" ng-class="{invalid: noImg == true}"></input>
      </div>
      <div class="col s1"></div>
      <div class="col s5">
        <textarea id="textarea" class="materialize-textarea" placeholder="Description" ng-model="desc" ng-class="{invalid: noDesc == true}"></textarea>
      </div>
      <div class="col s12">
        <a class="waves-effect waves-light btn right" ng-click="validate(); sortBy(type)">Submit</a>
      </div>
    </div>
  </div>
  <br>
  <div class="grid">
    <div angular-grid='posts' ag-grid-width="400" ag-gutter-size="15" ag-angular-grid-id="gallery" ag-refresh-on-img-load="false">
      <div data-ng-repeat="post in posts" class="repeated-item grid-item card">
        <div class="card-image">
          <img ng-src="{{post.img}}">
          <span class="card-title">{{post.title}}</span>
        </div>
        <div class="card-content">
          <span>by: {{post.author}}</span>
          <span class="right"><time>{{post.date | amCalendar}}</time></span>
          <br>
          <br>
          <p>{{post.description}}</p>
        </div>
        <div class="card-action">
          <a href="#!" ng-click="post.votes = post.votes-1; sortBy(type)">-</a> {{post.votes}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="#!" class="downvote" ng-click="post.votes = post.votes+1; sortBy(type)">+</a>
          <a href="#!" class="activator right upvote" ng-click="vm.add=true"><i class="material-icons">add</i></a>
          <a href="#!" class="center">
            <ng-pluralize count="post.comments.length" when="{'1': '{{post.comments.length}} comment','other': '{{post.comments.length}} comments'}" class="activator center" ng-click="view=true; vm.add=false"></ng-pluralize>
          </a>
        </div>
        <div class="card-reveal">
          <div ng-show="vm.add">
            <span class="card-title grey-text text-darken-4">Add a Comment<i class="material-icons right" ng-click="vm.add=false;view=false">close</i></span>
            <input class="col s5" type="text" placeholder="Author" ng-model="cAuth" ng-class="{invalid: cNoAuth == true}"></input>
            <textarea class="col s5 materialize-textarea" type="text" placeholder="Write something here..." ng-model="cComment" ng-class="{invalid: cNoComment == true}"></textarea>
            <a class="waves-effect waves-light btn right" ng-click="cValidate(post.id, cAuth, cComment); cAuth=undefined; cComment=undefined;">Submit</a>
          </div>
          <div ng-show="view==true">
            <span ng-click="vm.add=false;view=false" class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
            <h4>Comments</h4>
            <hr>
            {{posts.comments}}
            <div ng-repeat="comment in post.comments">
              <h5>{{comment.author}}</h5>
              <p>
                {{comment.comment}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>

</html>
